body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/public/img/logo.png');
    background-size: 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.65);
    z-index: -1;
}